<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="<%= htmlWebpackPlugin.options.env.npm_package_description %>"/>
    <meta name="author" content="<%= htmlWebpackPlugin.options.env.npm_package_author %>"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="apple-itouch-icon" href="/assets/apple-touch-icon.png">
  </head>
  <body style="overflow-y: scroll">
    <div id="root"></div>
    <%= htmlWebpackPlugin.files.webpackManifest %>
  </body>
</html>
