@gray-base: #000;
@gray-darker: lighten(@gray-base, 13.5%);
@gray-dark: lighten(@gray-base, 20%);
@gray: lighten(@gray-base, 33.5%);
@gray-light: lighten(@gray-base, 46.7%);
@gray-lighter: lighten(@gray-base, 93.5%);

@brand-primary:         darken(#428bca, 6.5%); // #337ab7

@btn-default-border: #ccc;

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
